@import 'advantages/list';
.advantages {
  display: flex;
  background-image: url('/img/adv-bg.png');
  height: 497px;
}

.advantages__heading {
  text-align: center;
  color: $main-yellow;
}

.advantages__image{
  img{
    width: 100%;
  }
}
