@import 'vars';
a {
  display: block;
  text-decoration: none;
  color: #fff;
}

body {
  font-family: $main-font;
}

.container {
  width: 70%;
  min-width: 1030px;
  margin: 0 auto;
}

h2 {
  font-size: 2em;
  line-height: 3;
  text-transform: uppercase;
}

* {
  background-position: center;
}

@media (max-width: 480px){
  p, li{
    font-size: 1.2em;
  }
}