.card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: $dark-orange;
  position: relative;
}

.card + .card {
  margin-left: 25px;
}

.card__description,
.card__movie,
.card__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 312px;
}

.card__icon {
  font-size: 6em;
  color: #c18000;
}

.card__description {
  position: relative;
  text-align: center;
  color: #fff;
}

.card__plus {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: rgba(255, 255, 255, 0.8);
}
