@import '../../vars';
.video-container {
  position: relative;
}

.video {
  width: 100%;
  height: auto;
}

.video-controls {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  padding: 0 15px 15px;
  width: 100%;
  opacity: 0;
  transition: ease-in 0.2s;
}

.video-container:hover .video-controls {
  opacity: .9;
}

.play-pause,
.mute,
.full-screen {
  color: #fff;
  background: $main-yellow;
}

.volume-bar {
  max-width: 20%;
}

.seek-bar {
  max-width: 60%;
}

.mute{
  width: 25px;
}