.logo {
  display: flex;
  align-items: center;
  &__picture {
    display: block;
    width: 80px;
    height: 80px;
    background-image: url('/img/logo_bg.png');
    background-position: center;
  }
  &__title,
  &__subtitle {
    text-transform: uppercase;
  }
  &__title {
    color: #fff;
    font-style: italic;
    font-size: 3.2em;
  }
  &__subtitle {
    align-self: flex-end;
    color: #d0cbcb;
    font-size: .7em;
  }
}
