@import '../vars';
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  &__item {
    padding: 0 0 1em 15px;
    position: relative;
    color: #a9a9a7;
    line-height: 1.5;
    font-size: 1.1em;
  }
}

.list__item::before {
  content: '●';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  color: $main-yellow;
}
