#video-container.video-container
  video#video.video
    source(src='vid/video.mp4', type='video/mp4', controls)
    p
      | Your browser doesn't support HTML5 video.
      a(href='videos/mikethefrog.mp4') Download
      |  the video instead.
  .video-controls
    button.play-pause(type='button')
      i.fa.fa-play(aria-hidden='true')
    input.seek-bar(type='range', value='0')
    button.mute(type='button') 
      i.fa.fa-volume-off(aria-hidden='true')
    input.volume-bar(type='range', min='0', max='1', step='0.1', value='1')
    button.full-screen(type='button') 
      i.fa.fa-expand(aria-hidden='true')
