@import 'vars';
a {
  display: block;
  text-decoration: none;
  color: #fff;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
span,
li {
  font-family: $main-font;
}

.container {
  margin: 0 auto;
}

h2 {
  font-size: 2em;
  line-height: 3;
  text-transform: uppercase;
}
